.case-list-container{
    .heading{
        color: #fff;
        justify-content: space-between;
    }

    .new-case{
        font-size: 20px;
    }

    .no-records{
        // color: #ccc;
        font-weight: bolder;
        font-size: 40;
        margin-top: 150px;
        color: orange
    }
}